node_modules/
.DS_Store
.env

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.env

# IDE and editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Logs and databases
*.log
*.sqlite

# Other
.DS_Store
Thumbs.db