.content {
  width: 40rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  place-items: center;
}

.artist-form {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.error {
  color: red;
}

.error-field {
  border-color: red;
  border-width: 2;
}
