/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

html {
  font-size: 16px;
}

main {
  height: 100vh;
}

.square {
  background-color: red;
  padding: 1rem;
  border: 5px solid blue;
  font-size: 2rem;
  /* font-size 32px */
  font-weight: bold;
  font-style: italic;
  color: #00ff0046;
  /* It is span -> display: inline */
  display: inline-block;
}

.nav-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0px;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 30px;
  height: 50vh;
}

.nav-list li {
  background-color: red;
}

.individual {
  align-self: center;
}

/* .message-incoming {
  align-self: start;
} */

/* .message-outcoming {
  align-self: end;
} */

header {
  min-height: 50vh;
}

li:nth-child(odd) {
  align-self: start;
}

li:nth-child(even) {
  align-self: end;
}
