/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

html {
  font-size: 16px;
}

main {
  height: 100vh;
}

.square {
  background-color: red;
  padding: 1rem;
  border: 5px solid blue;
  font-size: 2rem;
  /* font-size 32px */
  font-weight: bold;
  font-style: italic;
  color: #00ff0046;
  /* It is span -> display: inline */
  display: inline-block;
}

.nav-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0px;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 30px;
  height: 50vh;
}

.nav-list li {
  background-color: red;
}

.individual {
  align-self: center;
}

/* .message-incoming {
  align-self: start;
} */

/* .message-outcoming {
  align-self: end;
} */

/* header {
  min-height: 50vh;
} */

li:nth-child(odd) {
  align-self: start;
}

li:nth-child(even) {
  align-self: end;
}

/* CSS GRID */

.grid {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 500px;
}

.grid-child {
  background-color: red;
  border: 2px solid blue;
  /* height: 100px; */
}

.child-one {
  grid-row: 4;
  grid-column: 6;
}

.child-two {
  grid-column: span 7;
  grid-row: span 2;
}

/* Grid-2 page */
.grid-2 {
  height: 100vh;
  background-color: blue;
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "header header"
    "sidebar main";
}

.sidebar {
  grid-area: sidebar;
  background-color: green;
}
header {
  grid-area: header;
  background-color: red;
}
main {
  grid-area: main;
  background-color: hotpink;
}

/* Grid-3 Page */
.grid-3 {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 2fr 1fr;
  gap: 10px;
  padding: 10px;
  /* grid-template-areas:
    "header header"
    "sidebar main"; */
}

.grid-3 div {
  background-color: red;
  border: 1px solid blue;
  /* height: 10px; */
}

.grid-3-child-1,
.grid-3-child-2 {
  grid-column: span 3;
}

.grid-3-child-3,
.grid-3-child-4,
.grid-3-child-5 {
  grid-column: span 2;
}

/* Media Queries */
@media screen and (max-width: 480px) {
  .grid-3 {
    grid-template-rows: repeat(6, 1fr);
  }

  .grid-3-child-1,
  .grid-3-child-2 {
    grid-column: span 6;
  }

  .grid-3-child-3,
  .grid-3-child-4,
  .grid-3-child-5 {
    grid-column: span 6;
  }
}
