body {
  color: hotpink;
}

.navbar {
  display: flex;
  gap: 2rem;
  align-items: center;
  border-bottom: 1px solid hotpink;
}

.logo {
  font-size: 6rem;
}

.greeting {
  color: greenyellow;
  background: hotpink;
  border: 2px solid navy;
  margin: 2rem;
  padding: 1rem;
}

h1 {
  border-bottom: 1px solid green;
}

/* h1 {
  color: blue;
} */

.studentCard {
  background-color: blueviolet;
  color: hotpink;
  padding: 2rem;
  border: 12px dashed yellow;
  margin: 2rem;
}
