:root {
  --bg-color: #fff;
  --text-color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  background: var(--bg-color);
  color: var(--text-color);
}

.menu {
  padding: 16px;
  box-shadow: 0 0 10px #ababab;

  position: fixed;
  top: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  gap: 16px;
  background: var(--bg-color);
}

.menu__logo {
  font-weight: bold;
  font-size: 32px;
  color: #999;
}

.menu__logo span {
  color: #c00;
}

.menu__main-items {
  flex: 1;
  list-style-type: none;

  display: flex;
  gap: 16px;
  align-items: center;
}

.menu a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
}

.menu a:hover {
  color: #c00;
}

.menu__icons {
  display: flex;
  list-style-type: none;
  gap: 16px;
  font-size: 24px;
  align-items: center;
}

.news-card {
  position: relative;
}

.news-card__media {
  display: block;
  width: 100%;
  height: 140px;
  object-fit: cover;
  /* filter: grayscale(1); */
  /* transition: filter 0.4s; */
  transition: transform 1s;
}

.news-card__mask {
  overflow: hidden;
  margin-bottom: 8px;
  border-radius: 4px;
}

.news-card:hover .news-card__media {
  /* filter: grayscale(0); */
  transform: scale(1.04);
}

.news-card__title {
  font-size: 18px;
  margin-bottom: 6px;
}

.news-card__title a {
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.4s;
}

.news-card__title a:after {
  content: "";
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.news-card__title a:hover {
  color: #c00;
}

.news-card__text {
  color: var(--text-color);
}

.news-grid {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(4, 1fr);
  max-width: 800px;
  margin: 86px auto;
  padding: 0 16px;
}

@media (max-width: 800px) {
  /* this css is only applied when the screen is smaller than 800px */

  .news-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .menu__main-items .hide-on-mobile {
    display: none;
  }
}

@media (max-width: 300px) {
  .news-grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1400px) {
  .news-grid {
    max-width: 1400px;
  }

  .news-card__media {
    height: 300px;
  }
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --text-color: #fff;
    --bg-color: black;
  } */

  .menu {
    box-shadow: none;
    border-bottom: 1px solid #444;
  }

  /* body {
    background: #000;
    color: #fff;
  }

  .news-card__title a {
    color: #fff;
  }

  .menu {
    background: #000;
    box-shadow: none;
    border-bottom: 1px solid #444;
  }

  .menu a {
    color: #fff;
  } */
}
